body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: "Mukta", serif;
    background-color: #ffffff;
    overflow: auto;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

.logo {
    font-family: "Oswald", serif;
    text-decoration: none;
    font-size: 2em;
    color: #000;
    margin-left: 20px;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.left-nav, .right-nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.left-nav li, .right-nav li {
    list-style: none;
    margin-right: 20px;
}

.left-nav {
    padding-left: 0;
}

.light {
    font-weight: lighter;
}

.right-nav li {
    margin-right: 15px;
}

.left-nav li a, .right-nav li a {
    text-decoration: none;
    padding: 10px 5px;
    color: #000;
    display: block;
}

.left-nav li a:hover, .right-nav li a:hover {
    color: #a59275;
}

.dropdown-content {
    display: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: height 0.3s ease, opacity 0.3s ease;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.dropdown-content ul {
    margin: 0;
    list-style: none;
}

.dropdown-content li a {
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 3px 15px;
}

.dropdown:hover .dropdown-content, .dropdown.active .dropdown-content {
    display: block;
    height: auto;
    opacity: 1;
}

.dropdown-content li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0; 
    height: 1px;
    background-color: #a59275; 
}

.dropdown-content li a:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}

#search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1em;
}

body.fade {
    opacity: 0.5;
    pointer-events: none;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.footer-content {
    display: contents;
    font-size: 0.9em;
}

.footer-column {
    padding: 0;
}

.footer-column ul {
    list-style: none;
    padding: 10px;
}

.footer-column ul li {
    margin-bottom: 3px;
}

.footer-column a {
    position: relative;
    text-decoration: none;
    color: #000000;
}

.footer-column a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0; 
    height: 1px;
    background-color: #000000;  
}

.footer-column a:hover::after {
    width: 100%;
    transition: width 0.3s ease
}

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease-out;
}

.social-media {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social-media a img {
    height: 25px;
    width: 25px;
    margin-top: 25px;
    transition: transform 0.3s ease-out;
}

.social-media img:hover {
    transform: translateY(-3px);
}

.subscribe h3 {
    font-size: 1.1em;
    font-weight: 400;
}

.subscribe button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    cursor: pointer;
}

#copyright {
    width: 100%;
    padding-left: 10px;
    position: relative;
    font-size: 0.8em;
    bottom: 0;
    margin-top: 20px;
}

#hr {
    border: none;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    margin: 10px 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        text-align: center;
    }
    .image-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        row-gap: 20px;
    }
    .main-video {
        width: 100%;
        border-radius: 0%;
    }
    .main-video video {
        width: 100%;
        height: auto;
        border-radius: 0;
        box-shadow: 0 0 0;
    }
    .social-media {
        display: flex;
        justify-content: center;
    }
    footer {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .footer-column ul li {
        margin-bottom: 0;
    }
    #copyright {
        padding: 0;
        margin-top: 30px;
    }
}