body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: "Mukta", serif;
    background-color: #ffffff;
    overflow: auto;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    position: relative;
}

.logo {
    font-family: "Oswald", serif;
    text-decoration: none;
    font-size: 2em;
    color: #000;
    margin-left: 20px;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.left-nav, .right-nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.left-nav li, .right-nav li {
    list-style: none;
    margin-right: 20px;
}

.left-nav {
    padding-left: 0;
}

.right-nav li {
    margin-right: 15px;
}

.left-nav li a, .right-nav li a {
    text-decoration: none;
    padding: 10px 5px;
    color: #000;
    display: block;
}

.left-nav li a:hover, .right-nav li a:hover {
    color: #a59275;
}

.dropdown-content {
    display: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: height 0.3s ease, opacity 0.3s ease;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.dropdown-content ul {
    margin: 0;
    list-style: none;
}

.dropdown-content li a {
    display: block;
    text-align: left;
    padding: 3px 15px;
}

.dropdown:hover .dropdown-content, .dropdown.active .dropdown-content {
    display: block;
    height: auto;
    opacity: 1;
}

.dropdown-content li a:hover {
    text-decoration: underline;
}

#search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1em;
}

body.fade {
    opacity: 0.5;
    pointer-events: none;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.main-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.main-video video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0.1);
}

.main-video p {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    max-width: 300px;
    line-height: 1.6;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,auto);
    gap: 10px;
    row-gap: 10px;
    margin-top: 40px;
    padding: 0 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.shop {
    display: block;
    color: black;
    margin: 20px auto;
    font-size: 1.2em;
    text-align: center;
    width: fit-content;
}

footer {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    color: black;
    box-sizing: border-box;
    position: relative;
    margin-top: auto;
}

.footer-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.left-footer li {
    list-style: none;
    margin-bottom: 5px;
}

.left-footer a {
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

.left-footer a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease-out;
}

.social-media img {
    height: 25px;
    margin-top: 20px;
}

.social-media img:hover {
    transform: translateY(-2px);
}

#copyright {
    width: 100%;
    padding-left: 20px;
    position: relative;
    font-size: 0.8em;
    bottom: 0;
    margin-top: 30px;
}

#hr {
    border: none;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    margin: 10px 0;
}